{% if microshift_image_pull_secret is defined }
# Add the pull secret to CRI-O and set root user-only read/write permissions
cat > /etc/crio/openshift-pull-secret << EOF
{{ microshift_image_pull_secret }}
EOF
chmod 600 /etc/crio/openshift-pull-secret

{% endif %}

